:root {
  --primary-color: #536342;
}

header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 34px;
  color: var(--primary-color);
  padding: 40px;
}

footer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-bottom: 20px;
}
