/* Reset CSS default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

:root {
  --primary-color: #536342;
}

header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 34px;
  color: var(--primary-color);
  padding: 40px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--primary-color);
  color: white;
  height: 50px;
}
